<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MeskFIT API</title>
</head>
<body>
    <div>
        <h3>Upload Multiple Files</h3>
        <form id="uploadFiles" name="uploadFiles" method="post" th:action="@{/uploadFiles}" encType="multipart/form-data">
            <input type="file" name="files" multiple required />
            <button type="submit">Submit</button>
        </form>
    </div>

    <div>
        <h3>Exercise Library</h3>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Download Link</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="exercise: ${exercises}">
                    <td th:text="${exercise.exercise_id}"></td>
                    <td th:text="${exercise.exercise_name}"></td>
                    <td th:text="${exercise.description}"></td>
                    <td><a th:href="@{'/downloadFile/' + ${exercise.exercise_id}}">Download Here</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>